<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421819311307-b75epgn0s986plnseug6jdnotr6l0dur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421819311307-b75epgn0s986plnseug6jdnotr6l0dur</string>
	<key>API_KEY</key>
	<string>AIzaSyC0FhGQFgvbsMDs1S0bNZoFN7xCiGT5Sus</string>
	<key>GCM_SENDER_ID</key>
	<string>421819311307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coursework.nibm.sachithsilva-cobsccomp182p-018</string>
	<key>PROJECT_ID</key>
	<string>ioscoursework-b07cf</string>
	<key>STORAGE_BUCKET</key>
	<string>ioscoursework-b07cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421819311307:ios:e77d53729849cba160e74e</string>
	<key>DATABASE_URL</key>
	<string>https://ioscoursework-b07cf.firebaseio.com</string>
</dict>
</plist>